@import './layout/normalize.css';
@media (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media1 (max-width: 480px) {
  .container {
    width: auto;
  }

  .benefit__title {
    text-align: left;
  }

  .benefit__text {
    text-align: left;
  }

  .benefits-section {
    background: none;
  }
  .benefits-section::before {
    display: none;
  }

  .benefit__image {
    margin-right: 0.8333333333rem;
    margin-bottom: 0;
  }

  .form {
    margin: 0;
  }

  .form__controls {
    justify-content: center;
  }

  .review__avatar {
    width: 6.7222222222rem;
    height: 6.8888888889rem;
  }

  .container--footer {
    flex-direction: column;
  }

  .footer__block {
    align-items: center;
    margin-bottom: 0.8333333333rem;
  }
  .footer__block:last-child {
    margin-bottom: 0;
  }

  .footer__address {
    margin-bottom: 0.8333333333rem;
  }
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "alegreya", Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
  height: 100%;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 52.2222222222rem;
  position: relative;
}

.container--hero {
  background: url("../img/bars.png") right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .container--hero {
    background-image: none;
  }
}

.container--map {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 1.1666666667rem;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-bold-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-extrabold-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-extrabold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-extrabolditalic-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-italic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-light-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-lightitalic-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-medium-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-regular-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hero {
  background: url("../img/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding-top: 1.3333333333rem;
  padding-bottom: 2.5rem;
  height: 100vh;
  min-height: 36.1111111111rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
.hero::before {
  content: url("../img/decor/leaf-2.png");
  position: absolute;
  left: 2%;
  bottom: -3.1666666667rem;
}
.hero::after {
  content: url("../img/decor/berries-1.png");
  position: absolute;
  right: 0;
  bottom: -3rem;
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}

.hero__block {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .hero__block {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero__block--mobile {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .hero__block--mobile::before {
    content: "";
    display: block;
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../img/decor/tablet-chocco.png") center center/contain no-repeat;
    margin-bottom: 0.6111111111rem;
  }
}

.hero__title {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
  line-height: 1.1;
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2.2222222222rem;
  }
}

.hero__motto {
  font-size: 1rem;
  margin-bottom: 1.7777777778rem;
}
@media screen and (max-width: 768px) {
  .hero__motto {
    padding: 0 26%;
    margin-bottom: 1.7222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__motto {
    padding: 0 16%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .tel.header__tel {
    display: none;
  }
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

.menu--mobile {
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu--mobile .menu__list {
  flex-direction: column;
}
.menu--mobile .menu__item {
  margin-right: 0;
  margin-bottom: 1.1111111111rem;
}
.menu--mobile .menu__item:last-child {
  margin-bottom: 0;
}
.menu--mobile .menu__link {
  font-size: 1.1111111111rem;
}

.tel {
  font-style: normal;
  display: flex;
  align-items: center;
}

.tel__icon {
  width: 12px;
  height: 11px;
  fill: currentColor;
  margin-right: 0.2777777778rem;
}

.tel__phone {
  text-decoration: none;
  font-size: 1.3333333333rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}

.btn {
  font-size: 1.0555555556rem;
  padding: 0.9444444444rem 1.7222222222rem;
  border-radius: 2em;
  display: inline-flex;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0.5555555556rem #666666;
}
.btn--wite {
  color: #365a49;
  background-color: #fff;
}
.btn--wite:hover {
  color: #fff;
  background-color: #365a49;
}
.btn--green {
  color: #fff;
  background-color: #365a49;
}
.btn--green:hover {
  color: #365a49;
  background-color: #fff;
}
.btn--reset {
  border: none;
  background: none;
  font-size: 1rem;
  text-transform: none;
  color: #000;
  font-weight: normal;
}
.btn--reset:hover {
  color: #365a49;
}

.advantages {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}

.advantages__item {
  font-size: 0.8888888889rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 2rem;
  z-index: 10;
}
.advantages__item:last-child {
  padding-right: 0;
}

.advantages__img {
  margin-right: 0.4444444444rem;
  width: 2.7777777778rem;
  height: 2.3333333333rem;
  flex-shrink: 0;
  fill: #c6f7ff;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  font-size: 2.6666666667rem;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 3.3333333333rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.0555555556rem;
  text-align: center;
}

.headline__title {
  margin-bottom: 0.5555555556rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0rem 17%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0rem 4%;
  }
}

.benefits {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding-right: 6%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.3333333333rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
.benefits__item::before {
  content: url("../img/decor/separator.png");
  position: absolute;
  right: 0;
  top: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    flex-direction: row;
  }
}

.benefit__image {
  width: 7rem;
  height: 7rem;
  display: flex;
  border-radius: 50%;
  background-color: #f2f5f4;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefit__desc {
  flex: 1;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    text-align: left;
  }
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  fill: #2e2e2d;
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  color: #000;
  margin-bottom: 1.2222222222rem;
}

.benefits-section {
  background: url("../img/decor/leaf-pattern.png") left top 58% no-repeat;
  position: relative;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 5%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url(./../img/decor/raspberry.png);
  position: absolute;
  bottom: -18%;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .benefits-section::before {
    display: none;
  }
}

.review {
  display: flex;
}

.review__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .review__avatar {
    width: 7.8333333333rem;
    height: 7.9444444444rem;
    margin-bottom: 1.2222222222rem;
    margin-right: 0;
  }
}

.review__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 0.4444444444rem;
  padding-right: 9%;
}
@media screen and (max-width: 768px) {
  .review__content {
    padding: 0;
  }
}

.review__title {
  font-weight: bold;
  font-size: 1.6666666667rem;
  color: #000;
  margin-bottom: 1rem;
}

.review__text {
  margin-bottom: 1.3888888889rem;
}

.review__author {
  font-weight: 500;
  color: #000;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__comment-list {
  background: url("../img/decor/bg_black.png") right top no-repeat;
  background-color: #f8faf9;
  padding: 2.7777777778rem 2.0555555556rem 1.8888888889rem;
  margin-bottom: 1.3888888889rem;
  min-height: 15.5555555556rem;
  overflow: hidden;
  position: relative;
}
.reviews__comment-list::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -3.7222222222rem;
}

.reviews__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3.5rem;
    padding-left: 0.8333333333rem;
    padding-right: 0.8333333333rem;
    margin-bottom: 1.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-bottom: 1.6666666667rem;
  }
}
.reviews__content.active {
  position: relative;
  opacity: 1;
  pointer-events: unset;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: solid 6px transparent;
  background-color: #eeeeee;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 4.1666666667rem;
    height: 4.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 3.8333333333rem;
    height: 3.8333333333rem;
  }
}
.interactive-avatar.active, .interactive-avatar:hover {
  border-color: #365a49;
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews-title {
  margin-bottom: 1.9444444444rem;
}

.reviews-section {
  background: url("../img/decor/strawberry.png") right 0.7777777778rem top 2rem no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reviews-section {
    background-position: right -1.6666666667rem top 0.5555555556rem;
  }
}
.reviews-section::before {
  content: url(../img/decor/berries-leaf.png);
  position: absolute;
  bottom: -9.1111111111rem;
  left: 0;
}

.order-section {
  background: url("../img/decor/blueberries.png") left 1.1111111111rem bottom 4.6111111111rem no-repeat, url("../img/decor/leaf-order.png") right 0.1666666667rem bottom 4.5rem no-repeat, url("../img/decor/bg_order.jpg") 100%/cover no-repeat;
  background-color: #d2ddd9;
  color: #365a49;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    margin: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    margin: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.7777777778rem;
  }
  .form__col:last-child {
    margin-bottom: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.7222222222rem;
  }
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__row--textarea {
  margin-bottom: 1.3333333333rem;
}

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #365a49;
  margin-bottom: 0.1666666667rem;
}

.form__input {
  padding: 0.8333333333rem 0.6111111111rem;
  border: 0.1666666667rem solid transparent;
  width: 100%;
  color: #000;
}
.form__input.input-eror {
  border-color: hotpink;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3333333333rem 0.3333333333rem;
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    padding: 0.5rem 0.3333333333rem;
    font-size: 0.8888888889rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
.form__input--textarea {
  resize: none;
  height: 10rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.6666666667rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4444444444rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form__controls:last-child {
    margin-bottom: 0;
  }
}
.form__buttons ~ .form__controls {
  margin-bottom: 1.6666666667rem;
}

.form__commetn {
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__commetn {
    margin-bottom: 1.8333333333rem;
  }
}

.form__radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__radio {
    margin-bottom: 0.7777777778rem;
  }
}
.form__radio:last-child {
  margin-right: 0;
}
.form__radio--checkbox .form__radio-visible {
  border-radius: 0;
}
.form__radio--checkbox .form__radio-visible::before {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 10.9 8.7' fill='%23365A49' xmlns='http://www.w3.org/2000/svg'><path d='M10.3,0.6L10.3,0.6C9.6-0.2,8.4-0.2,7.7,0.5L4,4.2L3.2,3.4c-0.7-0.7-1.9-0.7-2.6,0L0.5,3.4c-0.7,0.7-0.7,1.9,0,2.6l2.2,2.2C3.1,8.6,3.6,8.7,4,8.7c0.5,0,0.9-0.2,1.3-0.5l5-5C11,2.5,11,1.3,10.3,0.6z'/></svg>");
}

.form__radio-elem {
  display: none;
}
.form__radio-elem:checked ~ .form__radio-visible::before {
  display: block;
}

.form__radio-visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.form__radio-visible::before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background-color: #365a49;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.form__radio-title {
  color: #365a49;
  margin-left: 0.4444444444rem;
}

.form__buttons {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    justify-content: center;
  }
}

.order-title {
  color: inherit;
  margin-bottom: 2.6666666667rem;
}
@media screen and (max-width: 768px) {
  .order-title {
    margin-bottom: 2.0555555556rem;
  }
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fixed-menu__link:hover {
  border-color: #ffffff;
}

.hamburger {
  position: absolute;
  right: 3%;
  top: 3%;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

.hamburger__plank {
  display: block;
  background: #ffffff;
  height: 4px;
  border-radius: 10px;
}

.hamburger--close {
  z-index: 200;
  position: fixed;
}
.hamburger--close .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--close .hamburger__plank:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger--close .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px) translateX(5px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .footer__block {
    margin-bottom: 0.8888888889rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .container--footer {
    display: flex;
    flex-direction: column;
  }
}

.footer__address {
  font-size: 1.1666666667rem;
  color: #000;
}
@media screen and (max-width: 480px) {
  .footer__address {
    margin-bottom: 0.8333333333rem;
  }
}

.map {
  width: 100vw;
  height: 100vh;
}

.map__img {
  height: 100%;
  object-fit: cover;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social__item {
  margin-right: 0.8888888889rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social__img {
  width: 1.2777777778rem;
  height: 1.1111111111rem;
  fill: #B3B3B3;
}
.social__img:hover {
  fill: #000000;
}
@media screen and (max-width: 480px) {
  .social__img {
    width: 1.4444444444rem;
    height: 1.2777777778rem;
  }
}

.phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1666666667rem;
  color: #365a49;
  font-style: normal;
}

.phone__img {
  width: 0.6666666667rem;
  height: 0.6111111111rem;
  margin-right: 0.3888888889rem;
  fill: currentColor;
}

.phone__number {
  text-decoration: none;
}

.logo {
  flex-shrink: 0;
}

.close {
  position: fixed;
  right: 3%;
  top: 0;
  width: 24px;
  height: 20px;
  font-size: 1.9444444444rem;
  cursor: pointer;
  display: block;
}

.sliders-section {
  background-color: #f8faf9;
  position: relative;
}
.sliders-section::before {
  content: url("./../img/decor/blueberries_and_leaf.png");
  position: absolute;
  right: 0;
  bottom: -28%;
}

.sliders {
  position: relative;
}
@media screen and (max-width: 768px) {
  .sliders {
    width: 75%;
    margin: 0 auto;
  }
}

.sliders__arrow {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  top: 49%;
}
@media screen and (max-width: 768px) {
  .sliders__arrow {
    top: 22%;
  }
}
@media screen and (max-width: 480px) {
  .sliders__arrow {
    top: 19%;
  }
}

.sliders__arrow-img {
  width: 13px;
  height: 28px;
  fill: #151515;
}

.sliders__arrow--left {
  left: -3%;
}
@media screen and (max-width: 768px) {
  .sliders__arrow--left {
    z-index: 10;
    left: 8%;
  }
}
@media screen and (max-width: 480px) {
  .sliders__arrow--left {
    left: -15%;
  }
}
.sliders__arrow--left .sliders__arrow-img {
  transform: rotate(180deg);
}

.sliders__arrow--right {
  right: -3%;
}
@media screen and (max-width: 768px) {
  .sliders__arrow--right {
    right: 8%;
  }
}
@media screen and (max-width: 480px) {
  .sliders__arrow--right {
    right: -15%;
  }
}

.sliders .bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.slider {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column;
    align-items: center;
  }
}

.slider__image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .slider__image {
    width: 70%;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .slider__image {
    width: 100%;
  }
}

.slider__features {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.6666666667rem;
  padding-left: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .slider__features {
    display: none;
  }
}

.slider__feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.7777777778rem;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  background-color: #60aacc;
}
.slider__feature:hover .slider__feature-list {
  display: block;
}

.slider__feature-text {
  text-transform: uppercase;
  color: #ffffff;
}

.slider__feature-img {
  height: 2.8333333333rem;
  width: 2.8333333333rem;
  fill: #fff;
  margin-bottom: 0.2777777778rem;
}

.slider__title {
  font-size: 2rem;
  color: #000;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1.3888888889rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 1.6666666667rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .slider__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider__description {
  margin-bottom: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__description {
    text-align: center;
  }
}

.slider__row {
  display: flex;
  margin-bottom: 2.1111111111rem;
}

.slider__col {
  margin-right: 3.0555555556rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slider__col:last-child {
  margin-right: 0;
}

.slider__value {
  font-weight: bold;
  color: #000;
}

.slider__buy {
  display: flex;
  align-items: center;
}

.slider__price {
  font-size: 3.3333333333rem;
  font-weight: lighter;
  color: #151515;
  margin-right: 1.9444444444rem;
}

.slider__feature-list {
  display: none;
  position: absolute;
  top: 0;
  right: -270px;
}

.composition {
  background-color: rgba(255, 255, 255, 0.95);
  width: 15rem;
  border-radius: 5px;
  border: solid 1px #eeeeee;
  padding: 1.3333333333rem 1.1111111111rem 1.2777777778rem 1.7777777778rem;
}

.composition__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.0555555556rem;
  align-items: center;
}
.composition__item:last-child {
  margin-bottom: 0;
}

.composition__img {
  max-width: 1.9444444444rem;
  max-height: 1.9444444444rem;
  margin-right: 1.3333333333rem;
}

.composition__name {
  font-weight: 500;
  font-size: 0.8888888889rem;
  color: #363636;
}

.composition__weight {
  color: #373636;
  margin-left: auto;
}

.team {
  display: flex;
}

.team--version--desktop .member__content {
  position: absolute;
  top: 100%;
}
.team--version--desktop .team__member {
  width: 25%;
}
.team--version--desktop .member__photo {
  width: auto;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
    flex-direction: column;
  }
}

.team__member {
  margin-right: 1.1111111111rem;
  position: relative;
  text-align: center;
}
.team__member:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__member {
    margin-right: 0;
  }
}

.member__photo {
  width: 12.2222222222rem;
  height: 16rem;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 1.3333333333rem;
}

.member__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.member__content--active {
  color: #ffd800;
}
.member__content--active::after {
  transform: rotate(180deg) translateY(-6px);
}

.member__name {
  font-size: 1.1666666667rem;
  color: #000;
  margin-bottom: 0.7777777778rem;
  font-weight: bold;
  position: relative;
  background: none;
  border: none;
}
.member__name:hover {
  cursor: pointer;
  color: #ffd800;
}
.member__name::after {
  margin-left: 0.2777777778rem;
  content: url("./../img/icons/polygon.png");
  display: inline-block;
}

.member__content {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .member__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.member__position {
  color: #000;
  margin-bottom: 0.2777777778rem;
}

.member__motto {
  font-weight: lighter;
}
@media screen and (max-width: 768px) {
  .member__motto {
    width: 15rem;
  }
}

.team-section {
  position: relative;
}
.team-section::before {
  content: url("./../img/decor/beautiful_berry.png");
  position: absolute;
  left: 1%;
  bottom: -7%;
  z-index: 1;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal.fancybox-button {
  display: none;
}

.modal__container {
  background: #ffffff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}

.recipes-container {
  width: 100%;
  min-width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.recipes-container .section__title {
  color: #fff;
  left: 7%;
  top: 15%;
  position: absolute;
}

.recipes-section {
  background-image: url("../../img/menu/menu-bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
}

.recipes {
  display: flex;
}

.recipes__item {
  position: relative;
  flex: auto;
  display: flex;
}
.recipes__item.active .recipes__description {
  width: 23.8888888889rem;
  display: flex;
}
.recipes__item.active .recipes__description .recipes__wrap {
  opacity: 0.4;
  background-color: #000000;
}

.recipes__wrap {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.5555555556rem;
}
.recipes__wrap--milk {
  background-image: url("../../img/menu/menu-slide-1.jpg");
}
.recipes__wrap--honey {
  background-image: url("../../img/menu/menu-slide-2.jpg");
}
.recipes__wrap--berries {
  background-image: url("../../img/menu/menu-slide-3.jpg");
}

.recipes__name {
  transform: rotate(-90deg);
  position: relative;
  right: 10%;
  top: 85%;
  white-space: nowrap;
  font-size: 2.6666666667rem;
  font-weight: bold;
}

.recipes__description {
  width: 0px;
  font-size: 0.8888888889rem;
  opacity: 0.93;
  background-color: #333537;
  font-size: 16px;
}

.recipes__text {
  padding: 50px 1.5rem;
}