@import './layout/normalize.css';
html {
  box-sizing: border-box;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font: 18px/1.42 "alegreya", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
  height: 100%;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.wrapper {
  min-height: 100%;
  min-width: 960px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo {
  margin-right: 30px;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-bold-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-extrabold-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-extrabold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-extrabolditalic-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-italic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-light-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-lightitalic-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-medium-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreyasans-regular-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hero {
  background: url("../img/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 45px;
  height: 100vh;
  min-height: 650px;
  position: relative;
}
.hero::before {
  content: url("../img/decor/leaf-2.png");
  position: absolute;
  left: 2%;
  bottom: -57px;
}
.hero::after {
  content: url("../img/decor/berries-1.png");
  position: absolute;
  right: 0;
  bottom: -54px;
}

.hero__block {
  width: 43%;
}

.hero__title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.1;
}

.hero__motto {
  font-size: 18px;
  margin-bottom: 32px;
}

.hero--container {
  background: url("../img/bars.png") right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__item {
  margin-right: 20px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}

.contacts {
  font-style: normal;
}

.contacts__phone {
  text-decoration: none;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contacts__phone::before {
  content: "";
  display: block;
  width: 12px;
  height: 11px;
  margin-right: 5px;
  background: url("../img/phone.png") center center no-repeat;
}

.btn {
  font-size: 19px;
  padding: 17px 31px;
  border-radius: 2em;
  display: inline-flex;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}
.btn--wite {
  color: #365a49;
  background-color: #fff;
}
.btn--wite:hover {
  color: #fff;
  background-color: #365a49;
}
.btn--green {
  color: #fff;
  background-color: #365a49;
}
.btn--green:hover {
  color: #365a49;
  background-color: #fff;
}
.btn--reset {
  border: none;
  background: none;
  font-size: 18px;
  text-transform: none;
  color: #000;
  font-weight: normal;
}
.btn--reset:hover {
  color: #365a49;
}

.advantages {
  display: flex;
  width: 43%;
  justify-content: space-between;
}

.advantages__item {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 44px;
}
.advantages__item--naturally:before {
  margin-right: 5px;
  flex-shrink: 0;
  content: "";
  display: flex;
  width: 44px;
  height: 41px;
  background: url("../img/icons/naturally.png") center center no-repeat;
}
.advantages__item--delivery:before {
  margin-right: 5px;
  flex-shrink: 0;
  content: "";
  display: flex;
  width: 50px;
  height: 40px;
  background: url("../img/icons/delivery.png") center center no-repeat;
}
.advantages__item--beauty:before {
  margin-right: 5px;
  flex-shrink: 0;
  content: "";
  display: flex;
  width: 42px;
  height: 42px;
  background: url("../img/icons/beauty.png") center center no-repeat;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  font-size: 48px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 60px;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  text-align: center;
}

.headline__title {
  margin-bottom: 10px;
}

.headline__subtitle {
  padding: 0 26%;
}

.benefits {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
.benefits__item::before {
  content: url("../img/decor/separator.png");
  position: absolute;
  right: 0;
  top: 30px;
  transform: translateX(50%);
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefit__image {
  width: 126px;
  height: 126px;
  display: flex;
  border-radius: 50%;
  background-color: #f2f5f4;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 75px;
  height: 69px;
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  color: #000;
  margin-bottom: 22px;
}

.benefit__text {
  text-align: center;
}

.benefits-section {
  background: url("../img/decor/leaf-pattern.png") left top 58% no-repeat;
  position: relative;
}
.benefits-section::before {
  content: url(./../img/decor/raspberry.png);
  position: absolute;
  bottom: -80px;
  left: 0;
}

.review {
  display: flex;
  padding: 50px 37px 34px;
  background: url("../img/decor/bg_black.png") right top no-repeat;
  background-color: #f8faf9;
}

.review__avatar {
  width: 254px;
  height: 260px;
  margin-right: 20px;
}

.review__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 8px;
  padding-right: 9%;
}

.review__title {
  font-weight: bold;
  font-size: 30px;
  color: #000;
  margin-bottom: 18px;
}

.review__text {
  margin-bottom: 20px;
}

.review__author {
  font-weight: 500;
  color: #000;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__content {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.reviews__content::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: solid 6px transparent;
  background-color: #eeeeee;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.interactive-avatar--active, .interactive-avatar:hover {
  border-color: #365a49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews-title {
  margin-bottom: 35px;
}

.reviews-section {
  background: url("../img/decor/strawberry.png") right 14px top 36px no-repeat;
  position: relative;
}
.reviews-section::before {
  content: url(../img/decor/berries-leaf.png);
  position: absolute;
  bottom: -164px;
  left: 0;
}

.order-section {
  background: url("../img/decor/blueberries.png") left 20px bottom 83px no-repeat, url("../img/decor/leaf-order.png") right 3px bottom 81px no-repeat, url("../img/decor/bg_order.jpg") 100%/cover no-repeat;
  background-color: #d2ddd9;
  color: #365a49;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #365a49;
  margin-bottom: 3px;
}

.form_input {
  padding: 15px 11px;
  border: 3px solid transparent;
  width: 100%;
  color: #000;
}
.form_input:focus {
  border-color: #dee2bd;
  outline: none;
}
.form_input--textarea {
  resize: none;
  height: 180px;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.form__buttons ~ .form__controls {
  margin-bottom: 30px;
}

.form__commetn {
  margin-bottom: 40px;
}

.form__buttons {
  display: flex;
}

.order-title {
  color: inherit;
  margin-bottom: 48px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 20px;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  background-color: #365a49;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.radio__title {
  color: #365a49;
  margin-left: 8px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}