$containerWidtgh: 940px;
$baseFontSize: 18px;

@function rem($size) {
  @return $size / $baseFontSize * 1rem;
}

// .some-block {
//   font-size: rem(24px);
// }

// z-index
$z-fixed-menu: 100;

// normalize

@import './layout/normalize.css';


@import './layout/base';
@import './layout/fonts';
@import './block/hero';
@import './block/header';
@import './block/menu';
@import './block/tel';
@import './block/btn';
@import './block/advantages';
@import './block/section';
@import './block/headline';
@import './block/benefits';
@import './block/benefit';
@import './block/benefits-section';
@import './block/review';
@import './block/reviews';
@import './block/interactive-avatar';
@import './block/reviews-title';
@import './block/reviews-section';
@import './block/order-section';
@import './block/form';
@import './block/order-title';
@import './block/radio';
@import './block/fixed-menu';
@import './block/hamburger';
@import './block/footer';
@import './block/map';
@import './block/social';
@import './block/phone';

@media (max-width: 768px) {
  
  .container--hero {
    background-image: none;
  }

  .hero__block--mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
      content: url('../img/decor/tablet-chocco.png');
      display: block;
      margin-bottom: rem(20px);
    }
  }

  .hero__title {
    text-align: center;
    font-size: rem(40px);
  }

  .hero__motto {
    text-align: center;
    padding: 0 25%;
  }

  .wrapper {
    min-width: 0;
  }

  .container {
    width: auto;
    max-width: 95%;
  }

  .hero {
    background-position: right top 2rem;
    background-size: 150%;
  }

  .menu__list,
  .tel,
  .fixed-menu,
  .hero::before,
  .hero::after {
    display: none;
  }

  .advantages {
    visibility: hidden;
  }

  .hamburger {
    display: block;
    width: rem(24px);
    height: rem(4px);
    position: relative;
    background: #ffffff;
    margin-top: rem(15px);
    margin-bottom: rem(15px);
  }
  
  .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: rem(24px);
    height: rem(4px);
    position: absolute;
    background: #ffffff;
  }
  
  .hamburger::after {
    top: 100%;
    margin-top: rem(5px);
  }
  
  .hamburger::before {
    bottom: 100%;
    margin-bottom: rem(5px);
  }

  // benefits

  .benefits-section {
    background-position: left top 13%;
  }
  
  .benefit::before {
    display: none;
  }

  .headline__subtitle {
    padding: 0px 17%;
  }

  // reviews

  .reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .review__content {
    padding-right: 0;
  }

  .review__content {
    align-items: center;
  }

  .review__text {
    text-align: center;
  }

  // form

  .form {
    flex-direction: column;
    margin: 0 20%;
  }

  .form__col {
    margin-right: 0;
    margin-bottom: rem(18px);
  }

  .form__buttons {
    justify-content: center;
    margin-right: 0;
  }

  .form__controls {
    margin-bottom: rem(12px);
  }

  .form__commetn {
    margin-bottom: rem(34px);
  }

  .form__input {
    padding: rem(13px) rem(11px) rem(10px);
    font-size: rem(14px);
  }

  .order-section {
    background: url('../img/decor/bg_order.jpg') 100% / cover no-repeat;
  }

  // map

  .container--map {
    max-width: 100%;
  }

  // reviews

  .review__avatar {
    width: rem(130px);
    height: rem(132px);
    margin-right: 0;
  }

}

@media (max-width: 480px) {
  .container {
    width: auto;
  }

  // 
  .hero__title {
    font-size: rem(40px);
  }

  .hero__motto {
    padding: 0px 10%;
  }

  // benefits

  .benefits {
    flex-direction: column;
  }

  .benefits__item {
    margin-bottom: rem(35px);
  }

  .benefit {
    flex-direction: row;
  }

  .benefit__title {
    text-align: left;
  }

  .benefit__text {
    text-align: left;
  }

  .benefits-section {
    background-image: none;

    &::before {
      display: none;
    }
  }

  .benefit__image {
    margin-right: rem(15px);
    margin-bottom: 0;
  }

  // form

  .form {
    margin: 0;
  }

  .form__controls {
    justify-content: center;
  }

  // reviews

  .review__avatar {
    width: rem(121px);
    height: rem(124px);
  }

  // footer

  .container--footer {
    flex-direction: column;
  }

  .footer__block {
    align-items: center;
    margin-bottom: rem(15px);

    &:last-child{
      margin-bottom: 0;
    }
  }

  .footer__address {
    margin-bottom: 15px;
  }

  .section__title {
    font-size: rem(40px);
  }

}