.recipes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.recipes__item {
  position: relative;
  // flex: auto;
  display: flex;

  &.active {
    & .recipes__description {
      width: rem(530px);
      // display: flex;

      & .recipes__title {
        opacity: .4;
        background-color: #000000;
      }
    }
  }
}

.recipes__title {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(100px);
  text-decoration: none;

  &--milk {
    background-image: url('./../img/menu/menu-slide-1.jpg');
  }
  &--honey {
    background-image: url('./../img/menu/menu-slide-2.jpg');
  }
  &--berries {
    background-image: url('./../img/menu/menu-slide-3.jpg');
  }
}

.recipes__name {
  transform: rotate(-90deg);
  position: relative;
  right: 10%;
  top: 85%;
  white-space: nowrap;
  font-size: rem(48px);
  font-weight: bold;
}

.recipes__description {
  width: 0px;
  transition: width .7s;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.9);
  font-size: rem(16px);
}

.recipes__container {
  padding: rem(50px) rem(75px) rem(50px) rem(27px);
  position: relative;
}

.recipes__close {
  position: absolute;
  top: rem(20px);
  right: rem(25px);
  border: none;
  background: transparent;
}

.recipes__close-img {
  fill: #ffffff;
  opacity: 0.7;
  width: 18px;
  height: 18px;
}