.tel {
  font-style: normal;
  display: flex;
  align-items: center;
}

.tel__icon {
  width: 12px;
  height: 11px;
  fill: currentColor;
  margin-right: rem(5px);
}

.tel__phone {
  text-decoration: none;
  font-size: rem(24px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}