.advantages {
  display: flex;
  justify-content: space-between;

  @include tablets {
    display: none;
  }
}

.advantages__item {
  font-size: rem(16px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: rem(80px);

  &:last-child {
    padding-right: 0;
  }
}

.advantages__img {
  margin-right: rem(8px);
}