.advantages {
  display: flex;
  justify-content: space-between;

  @include tablets {
    display: none;
  }
}

.advantages__item {
  font-size: rem(16px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: rem(36px);
  z-index: $advantages-item;

  &:last-child {
    padding-right: 0;
  }
}

.advantages__img {
  margin-right: rem(8px);
  width: rem(50px);
  height: rem(42px);
  flex-shrink: 0;
  fill: #c6f7ff;
}