.benefits-section {
  background: url('../img/decor/leaf-pattern.png') left top 58% no-repeat;
  position: relative;

  @include tablets {
    background-position: left top 5%;
  }

  @include phones {
    background: none;;
  }
  
  &::before {
    content: url(./../img/decor/raspberry.png);
    position: absolute;
    bottom: -18%;
    left: 0;
    z-index: $benefits-section-before;

    @include tablets {
      display: none;
    }
  }
}