.benefits-section {
  background: url('../img/decor/leaf-pattern.png') left top 58% no-repeat;
  position: relative;

  @include tablets {
    background-position: left top 5%;
  }
  
  &::before {
    content: url(./../img/decor/raspberry.png);
    position: absolute;
    bottom: rem(-80px);
    left: 0;

    @include tablets {
      display: none;
    }
  }
}