´.contacts {
  font-style: normal;
}

.contacts__phone {
  text-decoration: none;
  font-size: rem(24px);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: rem(12px);
    height: rem(11px);
    margin-right: rem(5px);
    background: url('../img/phone.png') center center no-repeat;
  }
}