.duration {
  display: flex;
  align-items: center;
  flex: 1;
}

.duration__length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background: #626262;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #626262;
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.duration__length--other {
  width: 58px;
  height: 4px;
}

.duration__icon {
  width: 16px;
}

.duration__icon, .sound__img{
  height: 22px;
  cursor: pointer;
  margin-right: 19px;
}