.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    margin: 0 19%;
  }

  @include phones {
    margin: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(14px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);

  @include tablets {
    margin-bottom: rem(13px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__row--textarea {
  margin-bottom: rem(24px);
}

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  color: #365a49;
  margin-bottom: rem(3px);
}

.form__input {
  padding: rem(15px) rem(11px);
  border: rem(3px) solid transparent;
  width: 100%;
  color: #000;

  @include tablets {
    padding: rem(6px) rem(6px);
    font-size: rem(16px);
  }

  @include phones {
    padding: rem(9px) rem(6px);
    font-size: rem(16px);
  }

  &:focus {
    border-color: #dee2bd;
    outline: none;
  }
  
  &--textarea {
    resize: none;
    height: rem(180px);

    @include tablets {
      height: rem(84px);
    }
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(8px);

  @include tablets {
    margin-bottom: rem(14px);
  }

  @include phones {
    justify-content: center;
  }

  &:last-child {
    @include tablets {
      margin-bottom: 0;
    }
  }

  .form__buttons ~ & {
    margin-bottom: rem(30px);
  }
  
}

.form__commetn {
  margin-bottom: rem(40px);

  @include tablets {
    margin-bottom: rem(33px);
  }
}

.form__radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(20px);

  @include tablets {
    margin-bottom: rem(14px);
  }

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .form__radio-visible {
      border-radius: 0;

      &::before {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 10.9 8.7' xmlns='http://www.w3.org/2000/svg'><path d='M10.3,0.6L10.3,0.6C9.6-0.2,8.4-0.2,7.7,0.5L4,4.2L3.2,3.4c-0.7-0.7-1.9-0.7-2.6,0L0.5,3.4c-0.7,0.7-0.7,1.9,0,2.6l2.2,2.2C3.1,8.6,3.6,8.7,4,8.7c0.5,0,0.9-0.2,1.3-0.5l5-5C11,2.5,11,1.3,10.3,0.6z'/></svg>");
      }
    }
  }
}

.form__radio-elem {
  display: none;

  &:checked ~ .form__radio-visible {
    &::before {
      display: block;
    }
  }
}

.form__radio-visible {
  width: rem(26px);
  height: rem(26px);
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    display: none;
    width: rem(14px);
    height: rem(14px);
    background-color: #365a49;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.form__radio-title {
  color: #365a49;
  margin-left: rem(8px);
}

.form__buttons {
  display: flex;

  @include tablets {
    justify-content: center;
  }
}