.hamburger {
  position: absolute;
  right: 3%;
  top: 3%;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  display: none;
  cursor: pointer;
  
  @include tablets {
    display: flex;
  }
}

.hamburger__plank {
  display: block;
  background: #ffffff;
  height: 4px;
  border-radius: 10px;
}

.hamburger--close {
  & .hamburger__plank:nth-child(1) {
    opacity: 0;
  }
  & .hamburger__plank:nth-child(2) {
    transform: rotate(45deg);
  }
  & .hamburger__plank:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(5px);
  }
}