.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(55px);
  text-align: center;
}

.headline__title {
  margin-bottom: rem(10px);
}

.headline__subtitle {
  padding: 0 26%;
}