.hero {
  background: url("../img/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding-top: rem(24px);
  padding-bottom: rem(45px);
  height: 100vh;
  min-height: rem(650px);
  position: relative;

  &::before {
    content: url("../img/decor/leaf-2.png");
    position: absolute;
    left: 2%;
    bottom: rem(-57px);
  }

  &::after {
    content: url("../img/decor/berries-1.png");
    position: absolute;
    right: 0;
    bottom: rem(-54px);
  }
}

.hero__block {
  width: 43%;
}

.hero__title {
  font-size: rem(48px);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: rem(20px);
  line-height: 1.1;
}

.hero__motto {
  font-size: rem(18px);
  margin-bottom: rem(32px);
}