.hero {
  background: url("../img/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding-top: rem(24px);
  padding-bottom: rem(45px);
  height: 100vh;
  min-height: rem(650px);
  position: relative;

  @include tablets {
    background-position: right bottom 88%;
  }

  &::before {
    content: url("../img/decor/leaf-2.png");
    position: absolute;
    left: 2%;
    bottom: rem(-57px);
  }

  &::after {
    content: url("../img/decor/berries-1.png");
    position: absolute;
    right: 0;
    bottom: rem(-54px);
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }

}

.hero__block {
  width: 43%;

  @include tablets {
    width: auto;
  }
}

.hero__block--mobile {
  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: rem(316px);
      height: rem(330px);
      background: url("../img/decor/tablet-chocco.png") center center / contain no-repeat;
      margin-bottom: rem(11px);
    }
  }
}

.hero__title {
  font-size: rem(48px);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: rem(20px);
  line-height: 1.1;

  @include phones {
    font-size: rem(40px);
  }
}

.hero__motto {
  font-size: rem(18px);
  margin-bottom: rem(32px);

  @include tablets {
    padding: 0 26%;
    margin-bottom: rem(31px);
  }

  @include phones {
    padding: 0 16%;
  }
}