.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  border: solid rem(6px) transparent;
  background-color: #eeeeee;
  overflow: hidden;
  border-radius: 50%;
  
  @include tablets {
    width: rem(75px);
    height: rem(75px);
  }

  @include phones {
    width: rem(65px);
    height: rem(65px);
  }

  &--active, &:hover {
    border-color: #365a49;
  }
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}