.member__photo {
  width: rem(220px);
  height: rem(288px);
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: rem(24px);
}

.member__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.member__feature {
  text-align: center;

  & .member__function--active {
    color: #ffd800;
    &::after {
      transform: rotate(180deg) translateY(-6px);
    }
  }
}

.member__name {
  font-size: rem(21px);
  color: #000;
  margin-bottom: rem(14px);
  font-weight: bold;
  position: relative;
  
  &:hover {
    cursor: pointer;
    color: #ffd800;
  }
  
  &::after {
    margin-left: rem(5px);
    content: url('../../img/icons/polygon.png');
    display: inline-block;
  }

}

.member__function {
  position: absolute;
  display: none;
  width: rem(220px);
  // height: 0;
  // overflow: hidden;
}

.member__position {
  color: #000;
  margin-bottom: rem(5px);
}