.order-section {
  background: url('../img/decor/blueberries.png') left rem(20px) bottom rem(83px) no-repeat,
              url('../img/decor/leaf-order.png') right rem(3px) bottom rem(81px) no-repeat,
              url('../img/decor/bg_order.jpg') 100% / cover no-repeat;
  background-color: #d2ddd9;
  color: #365a49;
}