.order-section {
  background: url('../img/decor/blueberries.png') left 20px bottom 83px no-repeat,
              url('../img/decor/leaf-order.png') right 3px bottom 81px no-repeat,
              url('../img/decor/bg_order.jpg') 100% / cover no-repeat;
  background-color: #d2ddd9;
  color: #365a49;
}