.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &.paused {
    .player__start {
      width: 14px;
      height: 22px;
      border: none;
      background-image: none;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      top: 0;
      bottom: 0;
      background: #626262;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }
  }
  
  &.active .player__splash {
    display: none;
  }
}

.player__start {
  background: url(./../img/icons/play-gray.png) center center/cover no-repeat;
  border: none;
  width: 16px;
  height: 22px;
  position: relative;

  &:focus {
    outline: none;
  }
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: url(./../img/wrap-video.jpg) center center/cover no-repeat;

  &::before {
    content: "";
    width: 82px;
    height: 118px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(./../img/icons/Play-white.png) center center no-repeat;
  }
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3e3e3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 25px;
}

.player__playback {
  height: 16px;
  width: 446px;
  position: relative;

  &::before {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #626262;
    display: block;
    transform: translateY(-50%);
  }
}

.player__playback-button {
  background: #626262;
  border-radius: 50px;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;

  

  &:focus {
    outline: none;
  }
}