.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        background: url('../img/icons/checkmark.svg') center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    display: none;
    width: 14px;
    height: 14px;
    background-color: #365a49;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.radio__title {
  color: #365a49;
  margin-left: 8px;
}