.recipes-container {
  width: 100%;
  min-width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 100%;

  & .section__title {
    color: #fff;
    left: 7%;
    top: 15%;
    position: absolute;
  }
}