.recipes-section {
  background-image: url("../../img/menu/menu-bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
}