.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__content {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
  }
}