.reviews-section {
  background: url('../img/decor/strawberry.png') right rem(14px) top rem(36px) no-repeat;
  position: relative;
  &::before {
    content: url(../img/decor/berries-leaf.png);
    position: absolute;
    bottom: rem(-164px);
    left: 0;
}
}