.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social__item {
  margin-right: rem(16px);

  &:last-child {
    margin-right: 0;
  }
}

.social__img {
  width: rem(23px);
  height: rem(20px);
  fill: #B3B3B3;

  &:hover {
    fill: #000000;
  }
  
  @include phones {
    width: rem(26px);
    height: rem(23px);
  }
}