.btn {
  font-size: 19px;
  padding: 17px 31px;
  border-radius: 2em;
  display: inline-flex;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;

  &:focus {
    outline: none;
    -moz-box-shadow:0 0 10px #666666;
    -webkit-box-shadow:0 0 10px #666666;
    box-shadow:0 0 10px #666666;
  }

  &--wite {
    color: #365a49;
    background-color: #fff;

    &:hover {
      color: #fff;
      background-color: #365a49;
    }
  }

  &--green {
    color: #fff;
    background-color: #365a49;

    &:hover {
      color: #365a49;
      background-color: #fff;
    }
  }
  
  &--reset {
    border: none;
    background: none;
    font-size: 18px;
    text-transform: none;
    color: #000;
    font-weight: normal;

    &:hover {
      color: #365a49;
    }
  }
}