.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}

.headline__title {
  margin-bottom: 25px;
}

.headline__subtitle {
  text-align: center;
  max-width: 465px;
}