.hero {
  background: url("../img/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 45px;
  height: 100vh;
  min-height: 650px;
  position: relative;

  &::before {
    content: url("../img/decor/leaf-2.png");
    position: absolute;
    left: 2%;
    bottom: -57px;
  }

  &::after {
    content: url("../img/decor/berries-1.png");
    position: absolute;
    right: 0;
    bottom: -54px;
  }
}

.hero__block {
  width: 43%;
}

.hero__title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.1;
}

.hero__motto {
  font-size: 18px;
  margin-bottom: 32px;
}

.hero--container {
  background: url("../img/bars.png") right center / 50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}